<h1>How to Calculate a Social Security Benefit, When You Retire at a Different Age Than You File for Retirement Benefits"</h1>

<p>
  A reader writes in, asking:
</p>

<blockquote>
  "My Social Security statement provides me with three different estimates of my retirement benefit (62, 67, 70). But each one includes an assumption that I actually work until the age in question. 
  How could I find what my benefit would be if, for example, I work until 60 but then wait until 70 to start taking my retirement benefit?"
</blockquote>

<p>
  The SSA has a few tools on their website that can help answer this question. (The open-source <a href="https://socialsecurity.tools/" target="_blank">"Social Security Tools" website</a> is another good option.)
</p>

<p>
  The <a href="https://www.ssa.gov/OACT/anypia/anypia.html" target="_blank">SSA's "AnyPIA" Detailed Calculator</a> would do the job, but it has a steep learning curve and does not work for Macs.
</p>

<p>
  So let's instead use one of two simpler tools:
</p>

<ol>
  <li>
    The "<a href="https://www.ssa.gov/planners/retire/AnypiaApplet.html" target="_blank">Online Calculator</a>" (<a href="https://www.ssa.gov/planners/retire/anyPiaWepjs04.html" target="_blank">WEP version here</a>, 
    for people who will be receiving pensions from employment that was not covered by Social Security taxes), or
  </li>
  <li>
    The <a href="https://www.ssa.gov/benefits/retirement/estimator.html" target="_blank">Retirement Estimator</a>, which does the same thing as the Online Calculator, 
    but which pulls in your earnings history automatically (after you sign in) rather than having you manually enter your year-by-year earnings.
  </li>
</ol>

<p>
  In either case, the calculator will ask you what year you plan to retire. Be sure to enter the year you plan to retire, <em><strong>not</strong></em> 
  the year in which you plan to file for benefits (unless they happen to be the same year).
</p>

<p>
  Then the calculator will tell you what your retirement benefit would be if you file as soon as you retire (or at age 62, if the age you enter as your planned retirement age is younger than 62).
</p>

<p>
  From there we have to do a little bit of arithmetic. First we have to determine your primary insurance amount (i.e., your "PIA" which is the monthly amount of your retirement benefit if you 
  file at exactly full retirement age) based on the benefit estimate the calculator has provided. Then we can figure out what your benefit will at any given filing age.
</p>

<p>
  As we've discussed elsewhere, <a href="https://obliviousinvestor.com/how-social-security-benefits-are-calculated/" target="_blank">your retirement benefit is calculated as a percentage of your PIA</a>, 
  depending on the age at which you file.
</p>

<ul>
 	<li>
     If you file for retirement benefits <em>before</em> your full retirement age, you get less than your PIA. 
     Specifically, your benefit receives a reduction equal to your primary insurance amount times 5/9 of 1% for each month (up to 36 months) prior to full retirement age. 
     This works out to a reduction of 6.67% per year. For each month in excess of 36 months, the reduction is 5/12 of 1% (or 5% per year).
  </li>
 	<li>
     If you file for retirement benefits <em>after</em> your full retirement age, you get more than your PIA. 
     Specifically, for each month you wait beyond FRA (up to age 70), you get one delayed retirement credit, which is worth 2/3 of 1% of your PIA. This works out to an increase of 8% per year.
  </li>
</ul>

<p>
  So to find an estimate of your monthly retirement benefit, you'll need to take the following steps:
</p>

<ol>
 	<li>
     Figure out the percentage of your PIA that the calculator <em>thinks</em> you are getting (because it's assuming you file on your planned retirement date, 
     or at age 62 if your planned retirement date is before age 62).
  </li>
 	<li>Divide your estimated retirement benefit by that percentage, to find your PIA.</li>
 	<li>Multiply your PIA as necessary based on your <em>actual</em> planned filing age to find your appropriately estimated benefit.</li>
</ol>

<p>
  <strong>Example #1:</strong> Your full retirement age is 67. You enter your earnings history and you tell the calculator that you plan to retire at age 60. 
  The calculator tells you that your retirement benefit at 62 would be $1,000.
</p>

<p>
  We know that 62 is 5 years (60 months) prior to your full retirement age. The reduction for filing 60 months early is (5/9 of 1% x 36) + (5/12 of 1% x 24), 
  which works out to a 30% reduction. So we know that the benefit that it's quoting (for age 62) is 70% of your primary insurance amount.
</p>

<p>
  So we divide $1,000 by 0.7 to get your PIA, which is $1,428.57.
</p>

<p>
  And we can multiply that as necessary to find your retirement benefit at any given filing age. For example, your benefit at 70 would be 124% of your PIA, or $1,771.
</p>

<p>
  <strong>Example #2:</strong> Your full retirement age is 66 and 6 months. You enter your earnings history and you tell the calculator that you plan to retire at age 68. 
  The calculator tells you that your retirement benefit at 68 would be $1,500.
</p>

<p>
  We know that 68 is 18 months beyond your full retirement age. The increase for waiting 18 months beyond FRA is 2/3 of 1% x 18, which works out to a 12% increase. 
  So we know that the benefit that it's quoting is 112% of your primary insurance amount.
</p>

<p>
  So we divide $1,500 by 1.12 to get your PIA, which is $1,339.29.
</p>

<p>
  And we can multiply as necessary to find your benefit at any giving filing age. For example, your benefit at 69 would be 120% of your PIA, or $1,607.
</p>

<app-book-promo></app-book-promo>