    <p>Open Social Security is a free, basic, open-source Social Security strategy calculator.</p>
    <p>
        The calculator runs the math for each possible claiming age (or, if you're married, each possible combination of claiming ages) and reports back, telling you which strategy is expected to provide the most total spendable dollars over your lifetime.
    </p>
    <p>Please note that this calculator should not be the only analysis you do, as there are various factors that it does not consider, such as:</p>
        <ul>
            <li>The fact that delaying benefits reduces longevity risk and therefore may be preferable even in some cases in which it is not the strategy that maximizes expected total spending, or</li>
            <li>Tax planning reasons or other unrelated reasons why it might be better for you to file earlier or later than the calculator suggests.</li>
        </ul>
    <p>If you're interested in learning more about Social Security, you may want to read my book: <em><a href="https://www.amazon.com/dp/0997946512/?tag=openss-20/" target="_blank">Social Security Made Simple</a></em>.</p>
    <h2>About the Author (Mike Piper)</h2>
    I am a CPA in St. Louis, Missouri. I'm the author of nine financial books, as well as the popular blog "<a href="https://obliviousinvestor.com/" target="_blank">Oblivious Investor</a>."
    I am an occasional public speaker (usually about Social Security or tax planning), and I have been quoted as a Social Security expert in numerous publications (e.g., Wall Street Journal, AARP, Kiplinger, and several others).
    <h2>How does the calculator work?</h2>
    <p>For people <em>really</em> interested in the details of how this calculator works, I'd encourage you to check out the source code, available at the following link. (The README file is a good place to start.)</p>
    <p><a href="https://github.com/MikePiper/open-social-security" target="_blank">https://github.com/MikePiper/open-social-security/</a></p>
    <p>For those just seeking a summary explanation, let's consider the simplest example scenario: an unmarried person, using the calculator prior to age 62. For such a person, the calculator:</p>
        <ol>
            <li>First assumes they file as early as possible, at 62.</li>
            <li>Calculates the amount of their monthly retirement benefit under such assumption.</li>
            <li>For each year up to age 115, the calculator multiplies the annual retirement benefit by the user's probability of being alive in such year, to arrive at a probability-weighted annual benefit.</li>
            <li>That probability-weighted benefit is then discounted back to age-62 value using the discount rate the user provided as input (i.e., to account for the fact that a dollar today can be invested and is therefore worth more than even an inflation-adjusted dollar in the future).</li>
            <li>All of those probability-weighted, discounted benefit amounts are summed, to arrive at a total "present value" for the assumed claiming strategy (e.g., claiming ASAP at 62).</li>
            <li>The above process is repeated for each possible claiming age (i.e., every month between 62 and 70).</li>
            <li>The claiming age that had the highest present value is then suggested to the user, and the present value associated with such claiming age is provided as well.</li>
        </ol>
    <p>If the person is older than 62 when using the calculator, claiming strategies that are no longer possible (i.e., filing in the past) are eliminated from the analysis.</p>
    <p>For a married couple, it's the same sort of process, but with more going on. Specifically:</p>
         <ol>
            <li>In addition to retirement benefits, spousal benefits and survivor benefits are included in the analysis.</li>
            <li>Probability weighting the various benefits each period involves separate calculations for "probability only Spouse A is alive", "probability only Spouse B is alive", and "probability both spouses are still alive."</li>
            <li>Each combination of possible claiming ages must be considered, for both spouses, and for both types of benefits (i.e., retirement and spousal).</li>
        </ol>
    <h2>What about inflation?</h2>
    <p>Everything is done in "real" (i.e., inflation-adjusted) dollars. So there is no need for you to make manual inflation adjustments.</p>
    <h2 name="mortality">Mortality Table Options</h2>
        <p>By default, all of the math is done using the <a href="https://www.ssa.gov/oact/STATS/table4c6.html" target="_blank">SSA's period life table</a> to calculate a person's probability of being alive at a given age. This is roughly appropriate for a person with an average life expectancy.
        (For reference, for a male currently age 62, median age at death with this table is age 83. For a female, it would be just under age 86.)</p>
        <p>You also have a few other options though, which come from the Society of Actuaries' <a href="https://www.soa.org/experience-studies/2015/2017-cso-tables/" target="_blank">Commissioner Standard Ordinary (CSO) "unloaded" Tables</a>:</p>
        <ul>
            <li><strong>2017 CSO Non-smoker Super-preferred:</strong> for people in much better than average health. (For a male currently age 62, median age at death with this table is age 87.5. For a female, it would be age 90.) </li>
            <li><strong>2017 CSO Non-smoker Preferred:</strong> for people in better than average health. (For a male currently age 62, median age at death with this table is age 86.5. For a female, it would be age 89.)</li>
            <li><strong>2017 CSO Smoker Preferred:</strong> for tobacco users in better health than the average tobacco user. (For a male currently age 62, median age at death with this table is age 81.5. For a female, it would be age 84.)</li>
            <li><strong>2017 CSO Smoker Residual Standard:</strong> for other tobacco users. (For a male currently age 62, median age at death with this table is age 81. For a female, it would be age 83.)</li>
        </ul>
    <h2><a name="license"></a>License</h2>
    <p>Other parties are encouraged to use the code from this calculator for their own purposes, per the license below. You can download the source code here:</p>
    <p><a href="https://github.com/MikePiper/open-social-security" target="_blank">https://github.com/MikePiper/open-social-security/</a></p>
    <p>"MIT License"</p>
    <p>Copyright 2018 Michael Piper (<a href="https://obliviousinvestor.com/" target="_blank">obliviousinvestor.com</a>)</p>
    <p>Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:</p>

    <p>The above copyright notice and this permission notice shall be included in all
        copies or substantial portions of the Software.</p>

    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
        SOFTWARE.</p>
