<h2>Privacy Information</h2>
<p>Open Social Security does not save the information that you enter into the calculator.</p>
<p>This website does, however, use Google Analytics, a service which transmits website traffic data to Google servers.
  Google Analytics does not identify individual users or associate your IP address with any other data held by Google.
  This website uses reports provided by Google Analytics to help understand the way in which users are using (and arriving at) the website.
  Google Analytics involves the use of an assortment of cookies.
  For more information about Google Analytics, see here:</p>
<p><a href="https://www.google.com/policies/privacy/partners/" target="_blank">https://www.google.com/policies/privacy/partners/</a></p>
<p>If you are interested in opting out of Google Analytics, Google offers <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">a browser add-on</a> that allows you to do so.</p>

<h2>Disclaimer</h2>
<p>No information provided on this site shall be construed as legal, accounting, investment, financial, tax, or other professional advice on any matter.
  You alone bear the sole responsibility of assessing the merits and risks associated with any financial decisions you make.</p>
<p>By using this site, you explicitly agree not to hold Michael Piper, Michael Piper, LLC, or Simple Subjects, LLC, liable in any way for any damages arising from decisions you make based on the information made available on this site.</p>
<p>Your use of this website and its information does not create any professional services relationship between you and Michael Piper, between you and Michael Piper, LLC, or between you and Simple Subjects, LLC.
  Sending an email to Michael Piper, Michael Piper, LLC or Simple Subjects, LLC does not create any client relationship.</p>
<p>By providing access to other websites, neither Simple Subjects, LLC nor any of its members makes any endorsement whatsoever regarding those sites.</p>
<p>Simple Subjects, LLC and its members do not provide any warranty as to the accuracy, completeness, or timeliness of the calculator or other information contained on this site.
  Nor is any warranty made as to the suitability of this calculator or information for any specific purpose.</p>
<p>If any provision of these Terms of Use is deemed unlawful, void, or unenforceable, then that provision will be deemed severable from these Terms of Use and will not affect
  the validity and enforceability of the remaining provisions.</p>
