This page is new. Over time I will be (gradually) adding articles about how the calculator works, how Social Security rules work, and about the decision making process and the factors involved.

<h3><a href="/articles/spousal-benefit-calculation/">How Are Social Security Spousal Benefits Calculated?</a></h3>

<h3><a href="articles/child-in-care-spousal/">How Do Social Security Child-in-Care Spousal Benefits Work?</a></h3>

<h3><a href="/articles/8-return/">Why Delaying Social Security Doesn't Provide an 8% Return</a></h3>

<h3><a href="/articles/social-security-planning-similar-earnings-history/">Social Security Planning for a Couple with Similar Earnings History</a></h3>