<div class="container">
<p>You can reach me at mike@opensocialsecurity.com.</p>
<p>
    Please be aware that I cannot reply to every email.
    I'm eager to hear constructive input about the calculator, but I cannot serve as tech support, nor can I provide a personal Social Security consultation.
</p>
<p>If you're looking for more information about how this calculator works, please see the About page. Alternatively, you can view the source code on GitHub:</p>
<ul>
    <li><a routerLink="/about">https://opensocialsecurity.com/about</a></li>
    <li><a href="https://github.com/MikePiper/open-social-security" target="_blank">https://github.com/MikePiper/open-social-security/</a></li>
</ul>
</div>