<p>You can reach me at [email address].</p>
<p>
Please be aware though that I cannot reply to every email.
I'm eager to hear constructive input about the calculator, but I cannot serve as tech support, nor can I provide a personal Social Security consultation.
</p>
<p>
Link to Code, README,
<em><a href="https://www.amazon.com/dp/0997946512/?tag=openss-20/" target="_blank">Social Security Made Simple</a></em>,
<a href="https://obliviousinvestor.com/" target="_blank">ObliviousInvestor.com</a>,
</p>
<ul>
    <li><a href="https://maximizemysocialsecurity.com/" target="_blank">Maximize My Social Security</a></li>
    <li><a href="http://socialsecuritysolutions.com/" target="blank">Social Security Solutions</a></li>
</ul>
