<div class="container">
<p>You can reach me at mike@obliviousinvestor.com.</p>
<p>
Please be aware though that I cannot reply to every email.
I'm eager to hear constructive input about the calculator, but I cannot serve as tech support, nor can I provide a personal Social Security consultation.
</p>
<p>If you're looking for more information about how this calculator works, you can view the source code for yourself here:</p>
<p><a href="https://github.com/MikePiper/open-social-security" target="_blank">https://github.com/MikePiper/open-social-security/</a></p>
<p>The README file, in particular, will be of interest, as it walks through the calculator's process step-by-step.</p>
<p>If you're looking for more information about Social Security, you may find my book or blog helpful:</p>
<ul>
    <li><em><a href="https://www.amazon.com/dp/0997946512/?tag=openss-20/" target="_blank">Social Security Made Simple</a></em></li>
    <li><a href="https://obliviousinvestor.com/" target="_blank">ObliviousInvestor.com</a></li>
</ul>
<p>You may also benefit from trying one or both of the following (paid) Social Security calculators:</p>
<ul>
    <li><a href="https://maximizemysocialsecurity.com/" target="_blank">Maximize My Social Security</a></li>
    <li><a href="http://socialsecuritysolutions.com/" target="blank">Social Security Solutions</a></li>
</ul>
</div>