<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <span id="contentarea">
      <nav class="navbar navbar-default">
          <div class="container">
            <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/">HOME</a></li>
              <li><a routerLink="/about">ABOUT</a></li>
              <li><a routerLink="/articles">ARTICLES</a></li>
              <li><a routerLink="/contact">CONTACT</a></li>
            </ul>
            <a id="jumbolink" routerLink="/">
              <div class="jumbotron text-center">
                <h1>Open Social Security</h1>
                <p>A free, open-source Social Security strategy calculator</p>
              </div>
            </a>
          </div>
      </nav>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </span>

  <!-- Footer -->

          <div class="footer no-print">
            Copyright 2019 Michael Piper, <a href="https://obliviousinvestor.com/" target="_blank">ObliviousInvestor.com</a> |
            Released under "<a href="about#license">MIT license</a>" |
            <a routerLink="/legal">Disclaimer and Privacy Policy</a>
          </div>
  <!-- Footer -->

</body>
</html>

