<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <span id="contentarea">
    <nav class="navbar navbar-default">
      <div class="container">
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/">HOME</a></li>
            <li><a routerLink="/about">ABOUT</a></li>
            <li><a routerLink="/contact">CONTACT</a></li>
          </ul>
          <a id="jumbolink" routerLink="/">
            <div class="jumbotron text-center">
              <h1>Open Social Security</h1>
              <p>A free, open-source Social Security strategy calculator</p>
            </div>
          </a>
      </div>
    </nav>

      <router-outlet></router-outlet>
  </span>
  <!-- Footer -->
          <hr><!-- Footer buffer so css "position: fixed" doesn't make it block bottom-most content on page-->
          <div class="footer">
            Copyright 2018 Michael Piper, <a href="https://obliviousinvestor.com/" target="_blank">ObliviousInvestor.com</a>.
            Released under "<a href="about#license">MIT license</a>."
          </div>
  <!-- Footer -->

</body>
</html>

