This page is new. Over time I will be (gradually) adding articles about how the calculator works, how Social Security rules work, and about the decision making process and the factors involved.

<h3>Social Security Rules and Calculations</h3>

<p><a href="/articles/calculate-retirement-benefit/">How to Calculate a Retirement Benefit, When Your Planned Retirement Age and Filing Age Are Different</a></p>

<p><a href="/articles/spousal-benefit-calculation/">How Are Social Security Spousal Benefits Calculated?</a></p>

<p><a href="/articles/retirement-and-spousal/">Can You Receive Retirement and Spousal Benefits at the Same Time?</a></p>

<p><a href="/articles/child-in-care-spousal/">How Do Social Security Child-in-Care Spousal Benefits Work?</a></p>

<h3>Social Security Planning</h3>

<p><a href="/articles/8-return/">Why Delaying Social Security Doesn't Provide an 8% Return</a></p>

<p><a href="/articles/social-security-planning-similar-earnings-history/">Social Security Planning for a Couple with Similar Earnings History</a></p>