<div class="table-responsive">
    <table class="table-bordered table-striped">
        <tr>
          <th>Year</th>
          <th>personA retirement</th>
          <th *ngIf="scenario.maritalStatus == 'married'">personB retirement</th>
          <th *ngIf="scenario.maritalStatus == 'married'">personA spousal</th>
          <th *ngIf="scenario.maritalStatus == 'married'">personB spousal</th>
          <th *ngIf="scenario.maritalStatus == 'married'">personA survivor</th>
          <th *ngIf="scenario.maritalStatus == 'married'">personB survivor</th>
        </tr>
        <tr *ngFor="let row of scenario.debugTable">
            <td *ngFor="let data of row">
              {{data}}
            </td>
        </tr>
    </table>
</div>