<div id="container" class="container">
<form #inputForm="ngForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="advanced">Advanced Options</label>
        <input type="checkbox" [(ngModel)]="advanced" id="advanced" name="advanced" value="true">
      </div>
        <h2>Your Information</h2>
        <div class="form-inline">
          <label>Marital Status</label>
          <select [(ngModel)]="maritalStatus" name="maritalStatus" class="form-control">
            <option value="married">Married</option>
            <option value="unmarried">Single</option>
          </select>
        </div>
        <div class="form-inline">
        <label>Gender</label>
        <select [(ngModel)]="spouseAgender" name="spouseAgender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        </div>
        <div class="form-inline">
              <label>Date of Birth month/day/year</label>
              <select class="form-control" [(ngModel)]="spouseAinputMonth" name="spouseAinputMonth" required>
                <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
              </select>
              <select class="form-control" [(ngModel)]="spouseAinputDay" name="spouseAinputDay" required>
                  <option *ngFor="let day of inputDays" [value]="day">{{day}}</option>
              </select>
              <select class="form-control" [(ngModel)]="spouseAinputYear" name="spouseAinputYear" required>
                  <option *ngFor="let year of inputYears" [value]="year">{{year}}</option>
              </select>
        </div>
        <div>
          <label class="customtooltip">PIA<span class="tooltiptext">Your primary insurance amount (PIA) is the amount of your monthly retirement benefit, if you file for it at your full retirement age. You can get an estimate of your PIA from the SSA.gov website or from your Social Security statement.</span></label>
          <input type="text" [(ngModel)]="spouseAPIA" name="spouseAPIA" required>
        </div>
        <div *ngIf="this.advanced == true" class="form-inline">
          <label>Mortality Table</label>
          <select [(ngModel)]="spouseAmortalityInput" name="spouseAmortalityInput" class="form-control">
            <option value="NS1">2017 CSO Nonsmoker Super-preferred</option>
            <option value="NS2">2017 CSO Nonsmoker Preferred</option>
            <option value="SSA">2014 Social Security Period Life Table</option>
            <option value="SM1">2017 CSO Smoker Preferred</option>
            <option value="SM2">2017 CSO Smoker Residual Standard</option>
          </select>
        </div>
        <div *ngIf="maritalStatus == 'married' && this.advanced == true">
          <label for="spouseAgovernmentPension">Monthly government pension from non-covered employment</label>
          <input type="text" [(ngModel)]="spouseAgovernmentPension" id="spouseAgovernmentPension" name="spouseAgovernmentPension">
        </div>    


      <span *ngIf="maritalStatus == 'married'">

        <h2>Your Spouse's Information</h2>
        <div class="form-inline">
        <label>Gender</label>
        <select [(ngModel)]="spouseBgender" name="spouseBgender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        </div>
        <div class="form-inline">
          <label>Date of Birth month/day/year</label>
          <select class="form-control" [(ngModel)]="spouseBinputMonth" name="spouseBinputMonth" required>
            <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
          </select>
          <select class="form-control" [(ngModel)]="spouseBinputDay" name="spouseBinputDay" required>
              <option *ngFor="let day of inputDays" [value]="day">{{day}}</option>
          </select>
          <select class="form-control" [(ngModel)]="spouseBinputYear" name="spouseBinputYear" required>
              <option *ngFor="let year of inputYears" [value]="year">{{year}}</option>
          </select>
        </div>
        <div>
          <label class="customtooltip">PIA<span class="tooltiptext">Your primary insurance amount (PIA) is the amount of your monthly retirement benefit, if you file for it at your full retirement age. You can get an estimate of your PIA from the SSA.gov website or from your Social Security statement.</span></label>
          <input type="text" [(ngModel)]="spouseBPIA" name="spouseBPIA" required>
        </div>
        <div *ngIf="this.advanced == true" class="form-inline">
          <label>Mortality Table</label>
          <select [(ngModel)]="spouseBmortalityInput" name="spouseBmortalityInput" class="form-control">
            <option value="NS1">2017 CSO Nonsmoker Super-preferred</option>
            <option value="NS2">2017 CSO Nonsmoker Preferred</option>
            <option value="SSA">2014 Social Security Period Life Table</option>
            <option value="SM1">2017 CSO Smoker Preferred</option>
            <option value="SM2">2017 CSO Smoker Residual Standard</option>
          </select>
        </div>
        <div *ngIf="this.advanced == true">
            <label for="spouseBgovernmentPension">Monthly government pension from non-covered employment</label>
            <input type="text" [(ngModel)]="spouseBgovernmentPension" id="spouseBgovernmentPension" name="spouseBgovernmentPension">
        </div>
      </span>
        <div *ngIf="this.advanced == true">
          <h2>Other Inputs</h2>
          <label class="customtooltip">Real Discount Rate<span class="tooltiptext">As a decimal (0.01 for a 1% discount rate, for example).</span></label>
          <input type="text" [(ngModel)]="discountRate" name="discountRate" required>
        </div>
      <div>
        <button type="submit" id="maximizeSubmit" class="btn btn-primary" (mousedown)="waitCursor()">Submit</button>
      </div>
      <p *ngIf="!this.solutionSet.solutionPV">If you are married, depending on your computer's processor speed, this calculation may take several seconds. Please be patient with your computer. It's doing quite a lot of math.</p>
</form>
<span *ngIf="this.solutionSet.solutionPV">
  
  <ul>
    <li *ngIf="this.solutionSet.spouseAretirementSolution">You should file for your retirement benefit to begin {{this.solutionSet.spouseAretirementSolution.getMonth()+1}}/{{this.solutionSet.spouseAretirementSolution.getFullYear()}}.</li>
    <li *ngIf="this.solutionSet.spouseAspousalSolution">You should file for your spousal benefit to begin {{this.solutionSet.spouseAspousalSolution.getMonth()+1}}/{{this.solutionSet.spouseAspousalSolution.getFullYear()}}.</li>
    <li *ngIf="this.solutionSet.spouseBretirementSolution">Your spouse should file for his/her retirement benefit to begin {{this.solutionSet.spouseBretirementSolution.getMonth()+1}}/{{this.solutionSet.spouseBretirementSolution.getFullYear()}}.</li>
    <li *ngIf="this.solutionSet.spouseBspousalSolution">Your spouse should file for his/her spousal benefit to begin {{this.solutionSet.spouseBspousalSolution.getMonth()+1}}/{{this.solutionSet.spouseBspousalSolution.getFullYear()}}.</li>
    <li *ngIf="this.solutionSet.solutionPV">The present value of this proposed solution would be {{this.solutionSet.solutionPV.toLocaleString('en-US', {style: 'currency',currency: 'USD'})}}</li>
  </ul>

  <hr>

  <form #customDateForm="ngForm" (ngSubmit)="customDates()">
  <h2>Test an alternative claiming strategy:</h2>
  <div class="form-inline">
      <label>Your month/year to claim retirement benefit:</label>
      <select class="form-control" [(ngModel)]="spouseAretirementBenefitMonth" name="spouseAretirementBenefitMonth" required>
        <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
      </select>
      <select class="form-control" [(ngModel)]="spouseAretirementBenefitYear" name="spouseAretirementBenefitYear" required>
        <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
      </select>
      <span *ngIf="this.spouseAretirementDateError" class="alert alert-danger">{{this.spouseAretirementDateError}}</span>
    </div>
    <span *ngIf="maritalStatus == 'married'">
        <div class="form-inline">
          <label>Your month/year to claim spousal benefit:</label>
          <select class="form-control" [(ngModel)]="spouseAspousalBenefitMonth" name="spouseAspousalBenefitMonth" required>
            <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
          </select>
          <select class="form-control" [(ngModel)]="spouseAspousalBenefitYear" name="spouseAspousalBenefitYear" required>
            <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
          </select>
          <span *ngIf="this.spouseAspousalDateError" class="alert alert-danger">{{this.spouseAspousalDateError}}</span>
        </div>
        <div class="form-inline">
            <label>Your spouse's month/year to claim retirement benefit:</label>
            <select class="form-control" [(ngModel)]="spouseBretirementBenefitMonth" name="spouseBretirementBenefitMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="spouseBretirementBenefitYear" name="spouseBretirementBenefitYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="this.spouseBretirementDateError" class="alert alert-danger">{{this.spouseBretirementDateError}}</span>
          </div>
          <div class="form-inline">
            <label>Your spouse's month/year to claim spousal benefit:</label>
            <select class="form-control" [(ngModel)]="spouseBspousalBenefitMonth" name="spouseBspousalBenefitMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="spouseBspousalBenefitYear" name="spouseBspousalBenefitYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="this.spouseBspousalDateError" class="alert alert-danger">{{this.spouseBspousalDateError}}</span>
          </div>
      </span>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <span *ngIf="this.customPV">
      The present value of the strategy you selected is {{this.customPV.toLocaleString('en-US', {style: 'currency',currency: 'USD'})}}, as compared to a present value of {{this.solutionSet.solutionPV.toLocaleString('en-US', {style: 'currency',currency: 'USD'})}} from the recommended strategy.
    </span>
  </form>
</span>
</div>