<span (change)="getInputs()" #child{{child.id}}>
  <h3>Child #{{child.id}}</h3>
  <div class="form-inline">
    <label>Date of birth</label>
    <select class="form-control" [(ngModel)]="DoBinputMonth" name="DoBinputMonth" required>
      <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
    </select>
    <select class="form-control" [(ngModel)]="DoBinputDay" name="DoBinputDay" required>
        <option *ngFor="let day of inputDays" [value]="day">{{day}}</option>
    </select>
    <select class="form-control" [(ngModel)]="DoBinputYear" name="DoBinputYear" required>
        <option *ngFor="let year of inputYears" [value]="year">{{year}}</option>
    </select>
  </div>

  <!--Disability Inputs-->
  <label>Is this child permanently disabled, with a disability that began prior to age 22?</label>
  <input type="radio" [(ngModel)]="child.isOnDisability" name=child{{child.id}}.isOnDisability [value]="true">
  <label>Yes</label>
  <input type="radio" [(ngModel)]="child.isOnDisability" name=child{{child.id}}.isOnDisability [value]="false">
  <label>No</label>

  <div *ngIf="personA.hasFiled === true || personA.isOnDisability === true || personB.hasFiled === true || personB.isOnDisability === true || (personB.fixedRetirementBenefitDate && personB.fixedRetirementBenefitDate < this.today)">
    <label>Has this child already filed for child benefits?</label>
    <input type="radio" [(ngModel)]="child.hasFiled" name="name=child{{child.id}}.hasFiled" [value]="true">
    <label>Yes</label>
    <input type="radio" [(ngModel)]="child.hasFiled" name="name=child{{child.id}}.hasFiled" [value]="false">
    <label>No</label>
  </div>
</span>