<span (change)="getInputs()" #child{{child.id}}>
  <h3>Child #{{child.id}}</h3>
  <div class="form-inline">
    <label>Date of birth</label>
    <select class="form-control" [(ngModel)]="child.DoBinputMonth" name="child.DoBinputMonth" required>
      @for (month of inputMonths; track month) {
        <option [value]="month">{{month}}</option>
      }
    </select>
    <select class="form-control" [(ngModel)]="child.DoBinputDay" name="child.DoBinputDay" required>
      @for (day of inputDays; track day) {
        <option [value]="day">{{day}}</option>
      }
    </select>
    <select class="form-control" [(ngModel)]="child.DoBinputYear" name="child.DoBinputYear" required>
      @for (year of inputYears; track year) {
        <option [value]="year">{{year}}</option>
      }
    </select>
  </div>

  <!--Disability Inputs-->
  <label>Is this child permanently disabled, with a disability that began prior to age 22?</label>
  <input type="radio" [(ngModel)]="child.isOnDisability" name=child{{child.id}}.isOnDisability [value]="true">
  <label>Yes</label>
  <input type="radio" [(ngModel)]="child.isOnDisability" name=child{{child.id}}.isOnDisability [value]="false">
  <label>No</label>
  <!--SSI warning-->
  @if (child.isOnDisability === true) {
    <p class="alert alert-warning">
      <strong>Warning:</strong>
      The calculator does not account for the impact that child benefits may have on any other benefits your child is receiving.
      If your disabled child is currently receiving SSI (Supplemental Security Income) or any other means-tested benefits (e.g., from your state), your child receiving a child's benefit could reduce or eliminate those other benefits.
    </p>
  }

  @if (personA.hasFiled === true || personA.isOnDisability === true || personB.hasFiled === true || personB.isOnDisability === true || (personB.fixedRetirementBenefitDate && personB.fixedRetirementBenefitDate < this.today)) {
    <div>
      <label>Has this child already filed for child benefits?</label>
      <input type="radio" [(ngModel)]="child.hasFiled" name="name=child{{child.id}}.hasFiled" [value]="true">
      <label>Yes</label>
      <input type="radio" [(ngModel)]="child.hasFiled" name="name=child{{child.id}}.hasFiled" [value]="false">
      <label>No</label>
    </div>
  }
</span>