/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    font: 400 18px Lato, sans-serif;
    line-height: 2;
}

#jumbolink { /* removes underline from the link in jumbotron */
    text-decoration:none;
}

.jumbotron { 
    background-color: #267bc5;
    color: #fff;
    font-family: Lato, sans-serif;
    padding-bottom:0px;
    text-decoration:none;
}


@media only screen and (max-width: 600px) {
.jumbotron p {
        display:none;
    }
}


.navbar {
    background-color: #267bc5;
    z-index: 999999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    padding-bottom:0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #7d7ffd !important;
    background-color: #fff !important;
}
