/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:400,500');


body{
    font: 18px Lato, sans-serif;
    line-height: 2;
    margin-bottom:150px;
}

h1 { /* making h1 elements blue */
    color: #1b64a3;
}

p, ol, ul, blockquote{ /* a little more whitespace between paragraphs etc */
    margin-top: 1em;
    margin-bottom: 1em;
}

#jumbolink { /* removes underline from the link in jumbotron */
    text-decoration:none;
}

.jumbotron { 
    background-color: #267bc5;
    color: #fff;
    font-family: Roboto, sans-serif;
    padding-bottom:0px;
    text-decoration:none;
}

.jumbotron p { /* styling for the p element within the jumbotron (i.e., the subtitle of site) */
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight:18880;
}

label {
    margin-right:5px;
}


.navbar {
    background-color: #267bc5;
    z-index: 999999;
    border: 0;
    font-size: 80% !important;
    font-family: Roboto, sans-serif;
    line-height: 1.42857143 !important;
    border-radius: 0;
    padding-bottom:0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    letter-spacing: 4px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #267bc5 !important;
    background-color: #fff !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #267bc5;
    color: white;
    text-align: center;
}

.footer a {
    color: white;
    text-decoration:underline;
}

#contentarea {
    margin-bottom:100px;
}

.container{
    max-width: 1080px;
}

@media only screen and (max-width: 600px) {
    .jumbotron p {
            display:none;
        }
    .footer {
        position:static;
    }
}

@media print {
    .no-print{
      display:none;
    }
    .inputexplanation{
        display:none;
    }
  }