/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:400,500');


body{
    font: 400 18px Lato, sans-serif;
    line-height: 2;
}

#jumbolink { /* removes underline from the link in jumbotron */
    text-decoration:none;
}

.jumbotron { 
    background-color: #267bc5;
    color: #fff;
    font-family: Roboto, sans-serif;
    padding-bottom:0px;
    text-decoration:none;
}

label {
    margin-right:5px;
}

@media only screen and (max-width: 600px) {
.jumbotron p {
        display:none;
    }
}


.navbar {
    background-color: #267bc5;
    z-index: 999999;
    border: 0;
    font-size: 80% !important;
    font-family: Roboto, sans-serif;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    padding-bottom:0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #267bc5 !important;
    background-color: #fff !important;
}

@media only screen and (max-width: 600px) {
    .footer {
            display:none;
        }
    }


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #267bc5;
    color: white;
    text-align: center;
    margin-top:50px;
}

.footer a {
    color: white;
    text-decoration:underline;
}

#contentarea {
    margin-bottom:100px;
}