.container { 
    background-color: white; 
    /* margin: 20px 5px 5px; */
} 
/* 
.container:before,
.container:after {
    content:"";
    display:table;
    clear: both;
} */

.container div{
    float:left; 
    width:"{{canvasWidth+50}}" ; 
}

canvas {
    padding: 0;
    margin: 10px;
    display: block;
}

form { 
    margin: 0 auto; 
    width:"{{canvasWidth+50}}";
}

.left {
    float: left;
}
  
table {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 1px 2px 1px 2px;
}

th {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 1px 2px 1px 2px;
}

td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 1px 2px 1px 2px;
}

.tooltip {
    position: absolute;
    z-index: 9999;
    padding: 6px;
    background: #ffd;
    border: 1px #886 solid;
    border-radius: 5px;
  }