<div>
    <h2>Range of Options</h2>
    <span *ngIf="!scenario.benefitCutAssumption">
      <p>Under the conditions defined for this case,
        the expected present value ranges from ${{this.minimumPvString}} 
        to ${{this.maximumPvString}}.
      </p>
    </span>
    <span *ngIf="scenario.benefitCutAssumption">
      <p>Under the conditions defined for this case:</p>
      <ul>
        <li>If benefits are cut by {{this.scenario.benefitCutPercentage}}% in {{this.scenario.benefitCutYear}}, the expected present value ranges from ${{this.minimumPvStringCut}} 
          to ${{this.maximumPvStringCut}}.</li>
        <li>If there is no cut,
          the expected present value ranges from ${{this.minimumPvString}} 
          to ${{this.maximumPvString}}.</li>
      </ul>
    </span>
    <!-- Moved the description to make more room beside the graph -->
    <p>The color-coded graph below shows the desirability of various alternative claiming dates.
      For instance, the 95 - 99 range (color&nbsp;<span style="background-color:#56b4e9;">&nbsp;&nbsp;&nbsp;&nbsp;</span>) includes filing dates that would provide an expected present value from 95% to 99% of that of the recommended strategy.
    </p>
  <div class='container'>
   
    <form id="showCutForm">
      <span style="font-weight:bold">Showing result:&nbsp;&nbsp;</span>
        <input type="radio" id="showCut" (click)="showCutChart(true)">
        <label for="showCut">if benefits are cut by {{this.scenario.benefitCutPercentage}}% in {{this.scenario.benefitCutYear}}&nbsp;&nbsp;&nbsp;&nbsp;</label>
    
        <input type="radio" id="showNoCut" (click)="showCutChart(false)">
        <label for="showNoCut">if benefits are not cut</label>
    </form>
   
    <div class="left" style="max-width:900">
      <canvas #canvas0 id="canvas0" title="Percent of Maximum canvas" (click)="selectCell($event, 0)" (mousemove)="update($event, 0)"
        (mouseenter)="startUpdating()" (mouseleave)="stopUpdating()" style="margin-right:20px">
      </canvas>
    </div>
    
    <span *ngIf="selectedRow < 0">
      <p>Click any spot on the graph to see how the selected alternative compares to the recommended filing date(s).</p>
    </span>
    <p *ngIf="scenario.restrictedApplicationPossible">NOTE: A restricted application (i.e., an application for just spousal benefits) will be assumed, whenever it is available given the retirement filing dates selected.</p>
    <span *ngIf="selectedRow >= 0">
      <p style="font-weight:bold">Selected Option: </p>
      <span *ngIf="!scenario.benefitCutAssumption">
        <ul>
        <li *ngFor="let claimingSolution of this.solutionSet.solutionsArray">{{claimingSolution.message}}</li>
        <li>The present value of the strategy you selected is {{this.selectedStrategyPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}}.</li>
        <li>That is {{this.differenceInPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}}
            ({{this.differenceInPV_asPercent.toLocaleString('en-US', {minimumFractionDigits:0, maximumFractionDigits:1})}}%) less than the suggested filing strategy.</li>
        </ul>
      </span>
      <span *ngIf="scenario.benefitCutAssumption">
        <ul>
          <li *ngFor="let claimingSolution of this.solutionSet.solutionsArray">{{claimingSolution.message}}</li>
        </ul>
        <p *ngIf="this.showCut === true" style="font-weight:bold">If benefits are cut by {{this.scenario.benefitCutPercentage}}% in {{this.scenario.benefitCutYear}}:</p>
        <p *ngIf="this.showCut === false" style="font-weight:bold">If benefits are not cut:</p>
        <ul>
          <li>The present value of the strategy you selected is {{this.selectedStrategyPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}}.</li>
          <li>That is {{this.differenceInPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}}
              ({{this.differenceInPV_asPercent.toLocaleString('en-US', {minimumFractionDigits:0, maximumFractionDigits:1})}}%) less than the maximum.</li>
        </ul>
      </span> 
    </span>

  </div>
</div>