.customtooltip .tooltiptext {
    visibility: hidden;
    background-color: #ebf6ff;
    color: black;
    padding: 5px;
    border-radius: 6px;
    font-weight:1;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.customtooltip:hover .tooltiptext {
    visibility: visible;
}

.customtooltip {
    border-bottom: 1px dotted black; /* Dots under the hoverable text */
}

.inputexplanation {
margin-left:0px;
background-color: #f0f8ff;
border-radius: 6px;
padding: 10px;
}

.inputexplanation li {
    list-style-position: inside;
}

.statusMessage {
    background-color: #feffbb;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    }


.bookimg {
float:left;
margin-right:45px;
}
