<div id="container">
<form #inputForm="ngForm" (ngSubmit)="onSubmit()" (change)="primaryFormInputChange()" novalidate>
      <div class="no-print">
        <label for="advanced">Advanced Options</label>
        <input type="checkbox" [(ngModel)]="advanced" id="advanced" name="advanced" value="true">
      </div>
        <h2>Your Information</h2>

        <!--Martital Status Inputs -->
        <div class="form-inline">
          <label>Marital status</label>
          <select [(ngModel)]="scenario.maritalStatus" name="scenario.maritalStatus" class="form-control">
            <option value="single">Single</option>
            <option value="married">Married</option>
            <option value="divorced">Divorced</option>
            <option value="survivor">Widow(er)</option>
          </select>
        <div *ngIf="scenario.maritalStatus == 'survivor'" class="inputexplanation">
          <p>If you are a widow(er) and you have not remarried (or you remarried after reaching age 60), there is no need for this calculator. Please see <a href="https://obliviousinvestor.com/social-security-planning-with-widower-benefits/" target="_blank">this article</a> for a discussion of the optimal claiming strategy.</p>
          <p>If you <em>have</em> remarried (prior to age 60) please use the calculator as "married."</p>
        </div>
        <ul *ngIf="scenario.maritalStatus == 'divorced'" class="inputexplanation">
            <li><strong>Note 1:</strong> If you have remarried, please use the calculator as "married."</li>
            <li><strong>Note 2:</strong> If you are divorced (and not remarried) after a marriage that lasted less than 10 years, please use the calculator as "single."</li>
        </ul>
        </div>
        <!--End Martital Status Inputs -->

  <span *ngIf="scenario.maritalStatus != 'survivor'">

        <div class="form-inline">
        <label>Gender</label>
        <select [(ngModel)]="personAgender" name="personAgender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        </div>
        <div class="form-inline">
              <label>Date of birth</label>
              <select class="form-control" [(ngModel)]="personAinputMonth" name="personAinputMonth" required>
                <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
              </select>
              <select class="form-control" [(ngModel)]="personAinputDay" name="personAinputDay" required>
                  <option *ngFor="let day of inputDays" [value]="day">{{day}}</option>
              </select>
              <select class="form-control" [(ngModel)]="personAinputYear" name="personAinputYear" required>
                  <option *ngFor="let year of inputYears" [value]="year">{{year}}</option>
              </select>
        </div>

        <!--Disability Inputs for personA-->
          <span *ngIf="advanced === true">
            <label>Disability: are you currently receiving Social Security disability <em>and</em> expecting to stay on disability until your full retirement age?</label>
            <input type="radio" id="personAdisabled" [(ngModel)]="personA.isOnDisability" name="personA.isOnDisability" [value]="true">
            <label for="personAdisabled">Yes</label>
            <input type="radio" id="personAnotDisabled" [(ngModel)]="personA.isOnDisability" name="personA.isOnDisability" [value]="false">
            <label for="personAnotDisabled">No</label>
          </span>
        <!--End Disability Inputs for personA-->
        
        <div>
          <label *ngIf="personA.isOnDisability === false">PIA</label>
          <label *ngIf="personA.isOnDisability === true">Monthly amount of your disability benefit</label>
          <input type="number" [(ngModel)]="personA.PIA" name="personA.PIA" #personAPIAinput="ngModel" id="personAPIA" required pattern="[0-9]{1,7}">
          <span *ngIf="personAPIAinput.invalid" class="alert alert-danger">digits only, please</span>
          <p class="inputexplanation">Your primary insurance amount (PIA) is the amount of your monthly retirement benefit, if you file for it at your full retirement age.
            You can get an <em>estimate</em> of your PIA from <a href="https://www.ssa.gov/myaccount/" target="_blank">your Social Security statement</a>.
            You can also call the SSA to request that they calculate your PIA,
            or you can calculate it yourself with the calculator at <a href="https://socialsecurity.tools/" target="_blank">SocialSecurity.tools</a>
            or the SSA's <a href="https://www.ssa.gov/oact/anypia/anypia.html" target="_blank">"Any PIA"</a> calculator.</p>
        </div>
        
        <!--Begin personA Earnings Test Inputs -->
        <span *ngIf="advanced === true && personA.isOnDisability === false">
            <div>
                <label>Are you still working?</label>
                <input type="radio" id="personAworkingYes" [(ngModel)]="personAworking" name="personAworking" [value]="true">
                <label for="personAworkingYes">Yes</label>
                <input type="radio" id="personAworkingNo" [(ngModel)]="personAworking" name="personAworking" [value]="false">
                <label for="personAworkingNo">No</label>
            </div>
            <div *ngIf="this.personAworking === true" class="form-inline">
                <label>Approximate month in which you will stop working</label>
                <select class="form-control" [(ngModel)]="personAquitWorkMonth" name="personAquitWorkMonth" required>
                  <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
                </select>
                <select class="form-control" [(ngModel)]="personAquitWorkYear" name="personAquitWorkYear" required>
                  <option *ngFor="let year of quitWorkYears" [value]="year">{{year}}</option>
                </select>
            </div>
            <div *ngIf="this.personAworking === true">
                <label>Your estimated monthly earnings until the month in which you retire</label>
                <input type="number" [(ngModel)]="personA.monthlyEarnings" name="personA.monthlyEarnings" #personAmonthlyEarningsInput="ngModel" required pattern="[0-9]{1,8}">
                <span *ngIf="personAmonthlyEarningsInput.invalid" class="alert alert-danger">digits only, please</span>
            </div>
            <p class="inputexplanation">This information (about current work status) is only used for the purpose of applying the Social Security <a href="https://www.ssa.gov/oact/cola/rtea.html" target="_blank">earnings test</a>. It is not used for calculating your PIA.
                The calculator relies on the user to provide the PIA. (Again, you can get such information by contacting the SSA, or by using one of the calculators on their website, such as <a href="https://www.ssa.gov/oact/anypia/anypia.html" target="_blank">this one</a>.)</p>
        </span>
        <!--End personA Earnings Test Inputs -->

        <!--Begin personA Already-Filed/Disability-began Inputs-->
        <div *ngIf="personA.isOnDisability === false">
          <label>Have you already filed for retirement benefits?</label>
          <input type="radio" id="personAfiledYes" [(ngModel)]="personA.hasFiled" name="personA.hasFiled" [value]="true">
          <label for="personAfiledYes">Yes</label>
          <input type="radio" id="personAfiledNo" [(ngModel)]="personA.hasFiled" name="personA.hasFiled" [value]="false">
          <label for="personAfiledNo">No</label>
        </div>
        <div *ngIf="personA.hasFiled === true || personA.isOnDisability === true" class="form-inline">
            <label *ngIf="personA.hasFiled === true">Month and year in which you filed for your retirement benefit:</label>
            <label *ngIf="personA.isOnDisability === true">Month and year in which your disability benefit began:</label>
            <select class="form-control" [(ngModel)]="personAfixedRetirementBenefitMonth" name="personAfixedRetirementBenefitMonth" id="personAfixedRetirementBenefitMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="personAfixedRetirementBenefitYear" name="personAfixedRetirementBenefitYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="errorCollection.personAfixedRetirementDateError" class="alert alert-danger">{{errorCollection.personAfixedRetirementDateError}}</span>
        </div>
        <!--End personA Already-Filed Inputs -->

        <!--Begin personA Mortality Inputs -->
        <span *ngIf="this.advanced === true">
          <div class="form-inline">
            <label>Mortality table</label>
            <select [(ngModel)]="personAmortalityInput" name="personAmortalityInput" class="form-control">
              <option value="NS1">2017 CSO Nonsmoker Super-preferred</option>
              <option value="NS2">2017 CSO Nonsmoker Preferred</option>
              <option value="SSA">2015 Social Security Period Life Table</option>
              <option value="SM1">2017 CSO Smoker Preferred</option>
              <option value="SM2">2017 CSO Smoker Residual Standard</option>
              <option value="fixed">Assumed age at death</option>
            </select>
          </div>
            <span *ngIf="this.personAmortalityInput == 'fixed'">
              <label for="personAassumedDeathAge" class="customtooltip">Assumed age at death<span class="tooltiptext">whole numbers only, please</span></label>
              <input type="text" class="smallTextInput" [(ngModel)]="personAassumedDeathAge" id="personAassumedDeathAge" name="personAassumedDeathAge">
            </span>
            <p class="inputexplanation"><a [routerLink]="['about']" fragment="mortality" target="_blank">See the "About" page</a> for more information about these mortality table options.</p>
        </span>
        <!--End personA Mortality Inputs -->

        <div *ngIf="scenario.maritalStatus != 'single' && this.advanced === true">
          <label for="personAgovernmentPension">Monthly government pension (from non-covered employment)</label>
          <input type="number" [(ngModel)]="personA.governmentPension" id="personAgovernmentPension" name="personA.governmentPension">
        </div>    

      <span *ngIf="scenario.maritalStatus == 'married' || scenario.maritalStatus == 'divorced'">

        <h2 *ngIf="scenario.maritalStatus == 'married'">Your Spouse's Information</h2>
        <h2 *ngIf="scenario.maritalStatus == 'divorced'">Your Ex-spouse's Information</h2>
        <div class="form-inline">
        <label>Gender</label>
        <select [(ngModel)]="personBgender" name="personBgender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        </div>
        <div class="form-inline">
          <label>Date of birth</label>
          <select class="form-control" [(ngModel)]="personBinputMonth" name="personBinputMonth" required>
            <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
          </select>
          <select class="form-control" [(ngModel)]="personBinputDay" name="personBinputDay" required>
              <option *ngFor="let day of inputDays" [value]="day">{{day}}</option>
          </select>
          <select class="form-control" [(ngModel)]="personBinputYear" name="personBinputYear" required>
              <option *ngFor="let year of inputYears" [value]="year">{{year}}</option>
          </select>
        </div>

        <!--Disability Inputs for personB-->
          <span *ngIf="advanced === true">
            <label>Disability: is your spouse currently receiving Social Security disability <em>and</em> expecting to stay on disability until full retirement age?</label>
            <input type="radio" id="personBdisabled" [(ngModel)]="personB.isOnDisability" name="personB.isOnDisability" [value]="true">
            <label for="personBdisabled">Yes</label>
            <input type="radio" id="personBnotDisabled" [(ngModel)]="personB.isOnDisability" name="personB.isOnDisability" [value]="false">
            <label for="personBnotDisabled">No</label>
          </span>
        

        <!--Begin personB PIA Inputs -->
        <div>
          <label *ngIf="personB.isOnDisability === false">PIA</label>
          <label *ngIf="personB.isOnDisability === true">Monthly amount of your spouse's disability benefit</label>
          <input type="number" [(ngModel)]="personB.PIA" name="personB.PIA" #personBPIAinput="ngModel" required pattern="[0-9]{1,8}">
          <span *ngIf="personBPIAinput.invalid" class="alert alert-danger">digits only, please</span>
        </div>
        <!--End Disability Inputs for personB-->


        <!--Begin personB Earnings Test Inputs -->
        <span *ngIf="advanced === true && personB.isOnDisability === false">
            <div *ngIf="scenario.maritalStatus == 'married'">
                <label>Is your spouse still working?</label>
                <input type="radio" id="personBworkingYes" [(ngModel)]="personBworking" name="personBworking" [value]="true">
                <label for="personBworkingYes">Yes</label>
                <input type="radio" id="personBworkingNo" [(ngModel)]="personBworking" name="personBworking" [value]="false">
                <label for="personBworkingNo">No</label>
            </div>
            <div *ngIf="this.personBworking === true" class="form-inline">
                <label>Approximate month in which your spouse will stop working</label>
                <select class="form-control" [(ngModel)]="personBquitWorkMonth" name="personBquitWorkMonth" required>
                  <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
                </select>
                <select class="form-control" [(ngModel)]="personBquitWorkYear" name="personBquitWorkYear" required>
                  <option *ngFor="let year of quitWorkYears" [value]="year">{{year}}</option>
                </select>
            </div>
            <div *ngIf="this.personBworking === true">
                <label>Your spouse's estimated monthly earnings until the month in which he/she retires</label>
                <input type="number" [(ngModel)]="personB.monthlyEarnings" name="personB.monthlyEarnings" #personBmonthlyEarningsInput="ngModel" required pattern="[0-9]{1,7}">
                <span *ngIf="personBmonthlyEarningsInput.invalid" class="alert alert-danger">digits only, please</span>
            </div>
        </span>
        <!--End personB Earnings Test Inputs -->



        <!--Ex-spouse Retirement Date Inputs (Also, personB already-filed inputs or personB disability-began input) -->
          <div *ngIf="scenario.maritalStatus == 'married' && personB.isOnDisability === false">
            <label>Has your spouse already filed for retirement benefits?</label>
            <input type="radio" id="personBfiledYes" [(ngModel)]="personB.hasFiled" name="personB.hasFiled" [value]="true">
            <label for="personBfiledYes">Yes</label>
            <input type="radio" id="personBfiledNo" [(ngModel)]="personB.hasFiled" name="personB.hasFiled" [value]="false">
            <label for="personBfiledNo">No</label>
          </div>
      
          <div *ngIf=" (scenario.maritalStatus == 'married' && personB.hasFiled === true)  ||
                        (scenario.maritalStatus == 'married' && personB.isOnDisability === true) ||
                        (scenario.maritalStatus == 'divorced' && personB.isOnDisability === false)" class="form-inline">
            <label *ngIf="scenario.maritalStatus == 'married' && personB.hasFiled === true">Month and year in which your spouse filed for his/her retirement benefit:</label>
            <label *ngIf="scenario.maritalStatus == 'married' && personB.isOnDisability === true">Month and year in which your spouse's disability benefit began:</label>
            <label *ngIf="scenario.maritalStatus == 'divorced' && personB.isOnDisability === false">Month and year in which your ex-spouse filed (or will file) for his/her retirement benefit:</label>
            <select class="form-control" [(ngModel)]="personBfixedRetirementBenefitMonth" name="personBfixedRetirementBenefitMonth" id="personBfixedRetirementBenefitMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="personBfixedRetirementBenefitYear" name="personBfixedRetirementBenefitYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <p *ngIf="errorCollection.personBfixedRetirementDateError" class="alert alert-danger">{{errorCollection.personBfixedRetirementDateError}}</p>
          </div>
        <!--End Ex-spouse Retirement Date Inputs (Also, personB already-filed inputs-->

        <!--Begin personB Mortality Inputs -->
        <div *ngIf="this.advanced === true" class="form-inline">
          <label>Mortality table</label>
          <select [(ngModel)]="personBmortalityInput" name="personBmortalityInput" class="form-control">
            <option value="NS1">2017 CSO Nonsmoker Super-preferred</option>
            <option value="NS2">2017 CSO Nonsmoker Preferred</option>
            <option value="SSA">2015 Social Security Period Life Table</option>
            <option value="SM1">2017 CSO Smoker Preferred</option>
            <option value="SM2">2017 CSO Smoker Residual Standard</option>
            <option value="fixed">Assumed age at death</option>
          </select>
        </div>
          <span *ngIf="this.personBmortalityInput == 'fixed'">
            <label for="personBassumedDeathAge" class="customtooltip">Assumed age at death<span class="tooltiptext">whole numbers only, please</span></label>
            <input type="text" class="smallTextInput" [(ngModel)]="personBassumedDeathAge" id="personBassumedDeathAge" name="personBassumedDeathAge">
          </span>
        <!--End personB Mortality Inputs -->

        <div *ngIf="this.advanced === true && scenario.maritalStatus == 'married'">
            <label for="personBgovernmentPension">Monthly government pension (from non-covered employment)</label>
            <input type="number" [(ngModel)]="personB.governmentPension" id="personBgovernmentPension" name="personB.governmentPension">
        </div>
      </span>

        <!--Begin Child Inputs -->
        <span *ngIf="this.advanced">
            <h2>Children</h2>
            <label>Do you have any children who are under age 19 or permanently disabled?</label>
            <input type="radio" id="childrenYes" [(ngModel)]="qualifyingChildrenBoolean" name="qualifyingChildrenBoolean" [value]="true">
            <label for="childrenYes">Yes</label>
            <input type="radio" id="childrenNo" [(ngModel)]="qualifyingChildrenBoolean" name="qualifyingChildrenBoolean" [value]="false">
            <label for="childrenNo">No</label>

            <div *ngIf="qualifyingChildrenBoolean === true" class="form-inline">
                <label>How many?</label>
                <select [(ngModel)]="scenario.numberOfChildren" name="scenario.numberOfChildren" class="form-control">
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4 or more</option>
                </select>
                <p *ngIf="scenario.numberOfChildren == 4" class="inputexplanation">As a result of the <a href="https://secure.ssa.gov/poms.nsf/lnx/0300615770" target="_blank">"combined family maximum" rule</a>,
                  children beyond the fourth would not change the calculation in any way. Please prioritize first entering any children who are disabled, and then entering by age (youngest first).</p>
                <app-childinputs *ngFor="let child of scenario.children" [child]="child" [personA]="personA" [personB]="personB"></app-childinputs>
              
            </div>
        </span>

        <!--End Child Inputs -->


        <!--Begin "Other Inputs" such as discount rate and benefit cut assumptions -->
        <div *ngIf="this.advanced === true">
            <h2>Other Inputs</h2>
            <label>Real discount rate</label>
            <input type="text" [(ngModel)]="scenario.discountRate" name="scenario.discountRate" class="smallTextInput" required>%
            <p class="inputexplanation">
              A "discount rate" is necessary to reflect the fact that a dollar today is worth more than a dollar in the future, because a dollar today can be invested.
              The default here is the <a href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=realyield" target="_blank">yield on 20-year TIPS</a>.
              See <a href="https://obliviousinvestor.com/claiming-social-security-early-to-invest-it-what-rate-of-return-discount-rate-should-we-assume/" target="_blank">this article</a> for a discussion of why that is chosen as the default.
            </p>
            <label>Assume that Social Security benefits will be cut in the future?</label>
            <input type="radio" id="benefitCutAssumptionNo" [(ngModel)]="scenario.benefitCutAssumption" name="scenario.benefitCutAssumption" [value]="false">
            <label for="benefitCutAssumptionNo">No</label>
            <input type="radio" id="benefitCutAssumptionYes" [(ngModel)]="scenario.benefitCutAssumption" name="scenario.benefitCutAssumption" [value]="true">
            <label for="benefitCutAssumptionYes">Yes</label>
            <span *ngIf="scenario.benefitCutAssumption === true">
              <div>
                  <label>Year in which benefit reduction is implemented</label>
                  <select [(ngModel)]="scenario.benefitCutYear" name="scenario.benefitCutYear" required>
                      <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
                  </select>
                  <label class="paddedLabel" >Severity of benefit reduction</label>
                  <input type="text" [(ngModel)]="scenario.benefitCutPercentage" name="scenario.benefitCutPercentage" class="smallTextInput" required>%
              </div>
              <p>For reference, the <a href="https://www.ssa.gov/OACT/TR/2018/" target="_blank">2018 Social Security trustees report</a> estimates that if no legislative changes are made,
                  benefits will have to be cut by 23% as of 2034.</p>
            </span>
        </div>
        <!--End "Other Inputs" such as discount rate and benefit cut assumptions -->

      <div>
        <button type="submit" id="maximizeSubmit" class="btn btn-primary no-print" >Submit</button>
      </div>
      <div class="statusMessage" *ngIf="this.statusMessage">{{this.statusMessage}}</div>
      <p *ngIf="!this.solutionSet.solutionPV && scenario.maritalStatus == 'married'">If you are married, your computer will have to do quite a lot of math. Depending on your browser and your computer's processor speed, this calculation may take up to a minute. Please be patient with your computer.</p>
      <p *ngIf="!this.solutionSet.solutionPV && scenario.maritalStatus == 'married'">For reference, this calculator runs <em>many-times faster</em> in Chrome or Firefox than it does in Safari, Edge, or Internet Explorer.</p>
    </span>
</form>

<span *ngIf="this.solutionSet.solutionPV">

  <!--Recommended Strategy Output-->
  <h2>Recommended Strategy</h2>
  <p>The strategy that maximizes the total dollars you can be expected to spend over your lifetime<span *ngIf="scenario.maritalStatus == 'married'">s</span> is as follows:</p>
  <ul>
    <li *ngFor="let claimingSolution of this.solutionSet.solutionsArray">{{claimingSolution.message}}</li>
  </ul>
  <span  *ngIf="this.solutionSet.solutionPV">
    <p><strong>The present value of this proposed solution would be {{this.solutionSet.solutionPV.toLocaleString('en-US', {style: 'currency', currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}}</strong>.</p>
    <p> This means that with this strategy you could expect to receive, on average, {{this.solutionSet.solutionPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}} of total Social Security benefits over the course of your lifetime, after adjusting for the fact that a dollar received in the future is worth less than a dollar received today (because the sooner you receive a dollar the sooner you can invest it).
      <a href="https://obliviousinvestor.com/what-does-present-value-mean/" target="_blank">See this article</a> for a more thorough explanation of the "present value" concept.</p>
  </span>
  <app-output-table [scenario]="scenario" [personA]="personA" [personB]="personB"></app-output-table>

  <!--End Recommended Strategy Output-->


  <!--Book Promo -->
  <span class="no-print">
    <hr>
    <h2>Want to Learn More about Social Security? Pick Up a Copy of My Book:</h2>
    <h3><em>Social Security Made Simple: Social Security Retirement Benefits and Related Planning Topics Explained in 100 Pages or Less</em></h3>
        <div class="row">
            <ul>
              <li><a href="http://www.amazon.com/dp/0997946512/?tag=openss-20" target="_blank">See it on Amazon</a>.</li>
            </ul>
            <a href="http://www.amazon.com/dp/0997946512/?tag=openss-20" target="_blank"><img title="Book8FrontCovertilted150x200" class="bookimg" src="https://obliviousinvestor.com/wp-content/uploads/2018/05/NewBook8Covertiltedscaled.jpg" width="150" alt="Social Security cover"/></a>
            <strong>Topics Covered in the Book:</strong>
                <ul>
                  <li>How retirement benefits, spousal benefits, and widow(er) benefits are calculated,</li>
                  <li>How to decide the best age to claim your benefit,</li>
                  <li>How Social Security benefits are taxed and how that affects tax planning,</li>
                  <li><a href="http://www.amazon.com/dp/0997946512/?tag=openss-20" target="_blank">Click here to see the full list</a>.</li>
                </ul>
        </div>
      <hr>
      <hr>
  </span>
  <!--End Book Promo -->



  <!--Custom Date(s) Form -->
  <form #customDateForm="ngForm" (ngSubmit)="customDates()" (change)="resetHiddenInputs()" [ngClass]="{'no-print': !this.customPV}">
  <h2>Test an alternative claiming strategy:</h2>

        <!--PersonA Custom Date Inputs -->
        <div class="form-inline" *ngIf="personA.hasFiled === false && personA.isOnDisability === false">
            <label>Your month/year to claim retirement benefit:</label>
            <select class="form-control" [(ngModel)]="customPersonAretirementBenefitMonth" name="customPersonAretirementBenefitMonth" id="customPersonAretirementBenefitMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="customPersonAretirementBenefitYear" name="customPersonAretirementBenefitYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="errorCollection.customPersonAretirementDateError" class="alert alert-danger">{{errorCollection.customPersonAretirementDateError}}</span>
        </div>

        <span *ngIf="personA.initialAge < 70 && (personA.hasFiled === true || personA.isOnDisability === true)">
          <div class="form-inline" *ngIf="personA.declineSuspension === false">
            <label>Month/year in which you will suspend your benefit:</label>
            <select class="form-control" [(ngModel)]="customPersonAbeginSuspensionMonth" name="customPersonAbeginSuspensionMonth" id="customPersonAbeginSuspensionMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="customPersonAbeginSuspensionYear" name="customPersonAbeginSuspensionYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="errorCollection.customPersonAbeginSuspensionDateError" class="alert alert-danger">{{errorCollection.customPersonAbeginSuspensionDateError}}</span>
          </div>
          <div class="form-inline" *ngIf="personA.declineSuspension === false">
            <label>Month/year in which you will unsuspend your benefit:</label>
            <select class="form-control" [(ngModel)]="customPersonAendSuspensionMonth" name="customPersonAendSuspensionMonth" id="customPersonAendSuspensionMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="customPersonAendSuspensionYear" name="customPersonAendSuspensionYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="errorCollection.customPersonAendSuspensionDateError" class="alert alert-danger">{{errorCollection.customPersonAendSuspensionDateError}}</span>
          </div>
          <label>Check this box to test a scenario in which you do not suspend your benefit:</label>
          <input id="personAdeclineSuspension" [(ngModel)]="personA.declineSuspension" name="personA.declineSuspension" value="true" type="checkbox">
        </span>

    <span *ngIf="scenario.maritalStatus == 'married' || scenario.maritalStatus == 'divorced'">
        <div class="form-inline" *ngIf="(personA.PIA < 0.5 * personB.PIA || personA.actualBirthDate < this.deemedFilingCutoff) && personA.declineSpousal === false">
          <label>Your month/year to claim spousal benefit:</label>
          <select class="form-control" [(ngModel)]="customPersonAspousalBenefitMonth" name="customPersonAspousalBenefitMonth" id="customPersonAspousalBenefitMonth" required>
            <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
          </select>
          <select class="form-control" [(ngModel)]="customPersonAspousalBenefitYear" name="customPersonAspousalBenefitYear" required>
            <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
          </select>
          <span *ngIf="errorCollection.customPersonAspousalDateError" class="alert alert-danger">{{errorCollection.customPersonAspousalDateError}}</span>
        </div>
        <span *ngIf="personA.PIA > 0.5 * personB.PIA && personA.actualBirthDate < this.deemedFilingCutoff">
          <label>Check this box to test a scenario in which you do not file for a spousal benefit:</label>
          <input id="personAdeclineSpousal" [(ngModel)]="personA.declineSpousal" name="personA.declineSpousal" value="true" type="checkbox">
        </span>
        <!--End PersonA Custom Date Inputs -->

        <!--PersonB Custom Date Inputs -->
        <div *ngIf="scenario.maritalStatus == 'married' && personB.hasFiled === false && personB.isOnDisability === false" class="form-inline">
            <label>Your spouse's month/year to claim retirement benefit:</label>
            <select class="form-control" [(ngModel)]="customPersonBretirementBenefitMonth" name="customPersonBretirementBenefitMonth" id="customPersonBretirementBenefitMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="customPersonBretirementBenefitYear" name="customPersonBretirementBenefitYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="errorCollection.customPersonBretirementDateError" class="alert alert-danger">{{errorCollection.customPersonBretirementDateError}}</span>
        </div>

        <span *ngIf="scenario.maritalStatus == 'married' && personB.initialAge < 70 && (personB.hasFiled === true || personB.isOnDisability === true)">
          <div class="form-inline" *ngIf="personB.declineSuspension === false">
            <label>Month/year in which your spouse will suspend his/her benefit:</label>
            <select class="form-control" [(ngModel)]="customPersonBbeginSuspensionMonth" name="customPersonBbeginSuspensionMonth" id="customPersonBbeginSuspensionMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="customPersonBbeginSuspensionYear" name="customPersonBbeginSuspensionYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="errorCollection.customPersonBbeginSuspensionDateError" class="alert alert-danger">{{errorCollection.customPersonBbeginSuspensionDateError}}</span>
          </div>
          <div class="form-inline" *ngIf="personB.declineSuspension === false">
            <label>Month/year in which your spouse will unsuspend his/her benefit:</label>
            <select class="form-control" [(ngModel)]="customPersonBendSuspensionMonth" name="customPersonBendSuspensionMonth" id="customPersonBendSuspensionMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="customPersonBendSuspensionYear" name="customPersonBendSuspensionYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="errorCollection.customPersonBendSuspensionDateError" class="alert alert-danger">{{errorCollection.customPersonBendSuspensionDateError}}</span>
          </div>
          <label>Check this box to test a scenario in which your spouse does not suspend his/her benefit:</label>
          <input id="personBdeclineSuspension" [(ngModel)]="personB.declineSuspension" name="personB.declineSuspension" value="true" type="checkbox">
        </span>

        <div class="form-inline" *ngIf="(personB.PIA < 0.5 * personA.PIA || personB.actualBirthDate < this.deemedFilingCutoff) && personB.declineSpousal === false">
          <span *ngIf="scenario.maritalStatus == 'married'">
          <label>Your spouse's month/year to claim spousal benefit:</label>
          <select class="form-control" [(ngModel)]="customPersonBspousalBenefitMonth" name="customPersonBspousalBenefitMonth" id="customPersonBspousalBenefitMonth" required>
            <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
          </select>
          <select class="form-control" [(ngModel)]="customPersonBspousalBenefitYear" name="customPersonBspousalBenefitYear" required>
            <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
          </select>
          </span>
          <span *ngIf="errorCollection.customPersonBspousalDateError" class="alert alert-danger">{{errorCollection.customPersonBspousalDateError}}</span>
        </div>
          <span *ngIf="scenario.maritalStatus == 'married' && personB.PIA > 0.5 * personA.PIA && personB.actualBirthDate < this.deemedFilingCutoff">
            <label>Check this box to test a scenario in which your spouse does not file for a spousal benefit:</label>
            <input id="personBdeclineSpousal" [(ngModel)]="personB.declineSpousal" name="personB.declineSpousal" value="true" type="checkbox">
          </span>
        <!--End PersonB Custom Date Inputs -->
      </span>

      <!--Child Custom Date Tooltip -->
      <p *ngIf="scenario.children.length > 0">There is no need to input dates related to your child(ren). The calculator assumes that a child will always file for child benefits as soon as they are eligible, given that there is no drawback to doing so.</p>
     <!--Child Custom Date Tooltip -->

    <div>
        <button type="submit" class="btn btn-primary no-print">Submit</button>
    </div>
    <!--Custom Date Output -->
    <span *ngIf="this.customPV">
      The present value of the strategy you selected is {{this.customPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}}, as compared to a present value of {{this.solutionSet.solutionPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}} from the recommended strategy, a difference of {{this.differenceInPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}}.
      <app-output-table [scenario]="customDateScenario" [personA]="personA" [personB]="personB"></app-output-table>
    </span>
    <!--End Custom Date Output -->
  </form>
   <!--End Custom Date(s) Form -->

   <a (click)="printPage()" class="no-print">Print this output (Can also be used to save as pdf in most browsers.)</a>
   
</span>

</div>
