<div id="container">
<form #inputForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div>
        <label for="advanced">Advanced Options</label>
        <input type="checkbox" [(ngModel)]="advanced" id="advanced" name="advanced" value="true">
      </div>
        <h2>Your Information</h2>
        <div class="form-inline">
          <label>Marital status</label>
          <select [(ngModel)]="maritalStatus" name="maritalStatus" class="form-control">
            <option value="single">Single</option>
            <option value="married">Married</option>
            <option value="divorced">Divorced</option>
            <option value="survivor">Widow(er)</option>
          </select>
        <div *ngIf="maritalStatus == 'survivor'" class="inputexplanation">
          <p>If you are a widow(er) and you have not remarried (or you remarried after reaching age 60), there is no need for this calculator. Please see <a href="https://obliviousinvestor.com/social-security-planning-with-widower-benefits/" target="_blank">this article</a> for a discussion of the optimal claiming strategy.</p>
          <p>If you <em>have</em> remarried (prior to age 60) please use the calculator as "married."</p>
        </div>
        <ul *ngIf="maritalStatus == 'divorced'" class="inputexplanation">
            <li><strong>Note 1:</strong> If you have remarried, please use the calculator as "married."</li>
            <li><strong>Note 2:</strong> If you are divorced (and not remarried) after a marriage that lasted less than 10 years, please use the calculator as "single."</li>
        </ul>
        </div>
  <span *ngIf="maritalStatus != 'survivor'">

        <div class="form-inline">
        <label>Gender</label>
        <select [(ngModel)]="spouseAgender" name="spouseAgender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        </div>
        <div class="form-inline">
              <label>Date of birth</label>
              <select class="form-control" [(ngModel)]="spouseAinputMonth" name="spouseAinputMonth" required>
                <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
              </select>
              <select class="form-control" [(ngModel)]="spouseAinputDay" name="spouseAinputDay" required>
                  <option *ngFor="let day of inputDays" [value]="day">{{day}}</option>
              </select>
              <select class="form-control" [(ngModel)]="spouseAinputYear" name="spouseAinputYear" required>
                  <option *ngFor="let year of inputYears" [value]="year">{{year}}</option>
              </select>
        </div>
        <div>
          <label>PIA</label>
          <input type="text" [(ngModel)]="spouseAPIA" name="spouseAPIA" #spouseAPIAinput="ngModel" id="spouseAPIA" required pattern="[0-9]{1,7}">
          <span *ngIf="spouseAPIAinput.invalid" class="alert alert-danger">digits only, please</span>
          <p class="inputexplanation">Your primary insurance amount (PIA) is the amount of your monthly retirement benefit, if you file for it at your full retirement age.
            You can get an <em>estimate</em> of your PIA from your Social Security statement.
            You can also call the SSA to request that they calculate your PIA,
            or you can calculate it yourself with the calculator at <a href="https://socialsecurity.tools/" target="_blank">SocialSecurity.tools</a>
            or the SSA's <a href="https://www.ssa.gov/oact/anypia/anypia.html" target="_blank">"Any PIA"</a> calculator.</p>
        </div>
        
        <!--Begin SpouseA Earnings Test Inputs -->
        <span *ngIf="advanced === true">
            <div>
                <label>Are you still working?</label>
                <input type="radio" id="spouseAworkingYes" [(ngModel)]="spouseAworking" name="spouseAworking" [value]="true" (change)="resetWorkInputs()">
                <label for="spouseAworkingYes">Yes</label>
                <input type="radio" id="spouseAworkingNo" [(ngModel)]="spouseAworking" name="spouseAworking" [value]="false" (change)="resetWorkInputs()">
                <label for="spouseAworkingNo">No</label>
            </div>
            <div *ngIf="this.spouseAworking === true" class="form-inline">
                <label>Approximate month in which you will stop working</label>
                <select class="form-control" [(ngModel)]="spouseAquitWorkMonth" name="spouseAquitWorkMonth" required>
                  <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
                </select>
                <select class="form-control" [(ngModel)]="spouseAquitWorkYear" name="spouseAquitWorkYear" required>
                  <option *ngFor="let year of quitWorkYears" [value]="year">{{year}}</option>
                </select>
            </div>
            <div *ngIf="this.spouseAworking === true">
                <label>Your estimated monthly earnings until the month in which you retire</label>
                <input type="text" [(ngModel)]="spouseAmonthlyEarnings" name="spouseAmonthlyEarnings" #spouseAmonthlyEarningsInput="ngModel" required pattern="[0-9]{1,8}">
                <span *ngIf="spouseAmonthlyEarningsInput.invalid" class="alert alert-danger">digits only, please</span>
            </div>
            <p class="inputexplanation">This information (about current work status) is only used for the purpose of applying the Social Security <a href="https://www.ssa.gov/oact/cola/rtea.html" target="_blank">earnings test</a>. It is not used for calculating your PIA.
                The calculator relies on the user to provide the PIA. (Again, you can get such information by contacting the SSA, or by using one of the calculators on their website, such as <a href="https://www.ssa.gov/oact/anypia/anypia.html" target="_blank">this one</a>.)</p>
        </span>
        <!--End Spouse A Earnings Test Inputs -->

        <!--Begin Spouse A Already-Filed Inputs-->
        <div *ngIf="maritalStatus == 'married'">
          <label>Have you already filed for retirement benefits?</label>
          <input type="radio" id="spouseAfiledYes" [(ngModel)]="spouseAhasFiled" name="spouseAhasFiled" [value]="true" (change)="resetFixedRetirementDateInputs()">
          <label for="spouseAfiledYes">Yes</label>
          <input type="radio" id="spouseAfiledNo" [(ngModel)]="spouseAhasFiled" name="spouseAhasFiled" [value]="false" (change)="resetFixedRetirementDateInputs()">
          <label for="spouseAfiledNo">No</label>
        </div>
        <div *ngIf="spouseAhasFiled === true" class="form-inline">
            <label *ngIf="spouseAhasFiled === true">Month in which you filed for your retirement benefit:</label>
            <select class="form-control" [(ngModel)]="spouseAfixedRetirementBenefitMonth" name="spouseAfixedRetirementBenefitMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="spouseAfixedRetirementBenefitYear" name="spouseAfixedRetirementBenefitYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="this.spouseAfixedRetirementDateError" class="alert alert-danger">{{this.spouseAfixedRetirementDateError}}</span>
        </div>
        <!--End Spouse A Already-Filed Inputs -->

        <!--Begin Spouse A Mortality Inputs -->
        <span *ngIf="this.advanced === true">
          <div class="form-inline">
            <label>Mortality table</label>
            <select [(ngModel)]="spouseAmortalityInput" name="spouseAmortalityInput" class="form-control">
              <option value="NS1">2017 CSO Nonsmoker Super-preferred</option>
              <option value="NS2">2017 CSO Nonsmoker Preferred</option>
              <option value="SSA">2015 Social Security Period Life Table</option>
              <option value="SM1">2017 CSO Smoker Preferred</option>
              <option value="SM2">2017 CSO Smoker Residual Standard</option>
              <option value="fixed">Assumed age at death</option>
            </select>
          </div>
            <span *ngIf="this.spouseAmortalityInput == 'fixed'">
              <label for="spouseAassumedDeathAge" class="customtooltip">Assumed age at death<span class="tooltiptext">whole numbers only, please</span></label>
              <input type="text" class="smallTextInput" [(ngModel)]="spouseAassumedDeathAge" id="spouseAassumedDeathAge" name="spouseAassumedDeathAge">
            </span>
            <p class="inputexplanation"><a href="about#mortality" target="_blank">See here</a> for more information about these mortality table options.</p>
        </span>
        <!--End Spouse A Mortality Inputs -->

        <div *ngIf="maritalStatus != 'single' && this.advanced === true">
          <label for="spouseAgovernmentPension">Monthly government pension (from non-covered employment)</label>
          <input type="text" [(ngModel)]="spouseAgovernmentPension" id="spouseAgovernmentPension" name="spouseAgovernmentPension">
        </div>    

      <span *ngIf="maritalStatus == 'married' || maritalStatus == 'divorced'">

        <h2 *ngIf="maritalStatus == 'married'">Your Spouse's Information</h2>
        <h2 *ngIf="maritalStatus == 'divorced'">Your Ex-spouse's Information</h2>
        <div class="form-inline">
        <label>Gender</label>
        <select [(ngModel)]="spouseBgender" name="spouseBgender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        </div>
        <div class="form-inline">
          <label>Date of birth</label>
          <select class="form-control" [(ngModel)]="spouseBinputMonth" name="spouseBinputMonth" required>
            <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
          </select>
          <select class="form-control" [(ngModel)]="spouseBinputDay" name="spouseBinputDay" required>
              <option *ngFor="let day of inputDays" [value]="day">{{day}}</option>
          </select>
          <select class="form-control" [(ngModel)]="spouseBinputYear" name="spouseBinputYear" required>
              <option *ngFor="let year of inputYears" [value]="year">{{year}}</option>
          </select>
        </div>
        <div>
          <label>PIA</label>
          <input type="text" [(ngModel)]="spouseBPIA" name="spouseBPIA" #spouseBPIAinput="ngModel" required pattern="[0-9]{1,8}">
          <span *ngIf="spouseBPIAinput.invalid" class="alert alert-danger">digits only, please</span>
        </div>

        <!--Begin SpouseB Earnings Test Inputs -->
        <span *ngIf="advanced === true">
            <div *ngIf="maritalStatus == 'married'">
                <label>Is your spouse still working?</label>
                <input type="radio" id="spouseBworkingYes" [(ngModel)]="spouseBworking" name="spouseBworking" [value]="true" (change)="resetWorkInputs()">
                <label for="spouseBworkingYes">Yes</label>
                <input type="radio" id="spouseBworkingNo" [(ngModel)]="spouseBworking" name="spouseBworking" [value]="false" (change)="resetWorkInputs()">
                <label for="spouseBworkingNo">No</label>
            </div>
            <div *ngIf="this.spouseBworking === true" class="form-inline">
                <label>Approximate month in which your spouse will stop working</label>
                <select class="form-control" [(ngModel)]="spouseBquitWorkMonth" name="spouseBquitWorkMonth" required>
                  <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
                </select>
                <select class="form-control" [(ngModel)]="spouseBquitWorkYear" name="spouseBquitWorkYear" required>
                  <option *ngFor="let year of quitWorkYears" [value]="year">{{year}}</option>
                </select>
            </div>
            <div *ngIf="this.spouseBworking === true">
                <label>Your spouse's estimated monthly earnings until the month in which he/she retires</label>
                <input type="text" [(ngModel)]="spouseBmonthlyEarnings" name="spouseBmonthlyEarnings" #spouseBmonthlyEarningsInput="ngModel" required pattern="[0-9]{1,7}">
                <span *ngIf="spouseBmonthlyEarningsInput.invalid" class="alert alert-danger">digits only, please</span>
            </div>
        </span>
        <!--End SpouseB Earnings Test Inputs -->



        <!--Ex-spouse Retirement Date Inputs (Also, SpouseB already-filed inputs-->
          <div *ngIf="maritalStatus == 'married'">
            <label>Has your spouse already filed for retirement benefits?</label>
            <input type="radio" id="spouseBfiledYes" [(ngModel)]="spouseBhasFiled" name="spouseBhasFiled" [value]="true" (change)="resetFixedRetirementDateInputs()">
            <label for="spouseBfiledYes">Yes</label>
            <input type="radio" id="spouseBfiledNo" [(ngModel)]="spouseBhasFiled" name="spouseBhasFiled" [value]="false" (change)="resetFixedRetirementDateInputs()">
            <label for="spouseBfiledNo">No</label>
          </div>
      
          <div *ngIf="maritalStatus == 'divorced' || spouseBhasFiled === true" class="form-inline">
            <label *ngIf="maritalStatus == 'divorced'">Month in which your ex-spouse filed (or will file) for his/her retirement benefit:</label>
            <label *ngIf="spouseBhasFiled === true">Month in which your spouse filed for his/her retirement benefit:</label>
            <select class="form-control" [(ngModel)]="spouseBfixedRetirementBenefitMonth" name="spouseBfixedRetirementBenefitMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="spouseBfixedRetirementBenefitYear" name="spouseBfixedRetirementBenefitYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="this.spouseBfixedRetirementDateError" class="alert alert-danger">{{this.spouseBfixedRetirementDateError}}</span>
            <p *ngIf="maritalStatus == 'divorced'" class="inputexplanation">Your ex-spouse's filing date is necessary in order to run the calculation. If you do not know the answer, you can call the SSA to see if your ex-spouse has filed for his/her retirement benefit. Alternatively, you can guess as to your ex-spouse's plans (e.g., assume they file at age 66).</p>
          </div>
        <!--Ex-spouse Retirement Date Inputs (Also, SpouseB already-filed inputs-->

        <!--Begin Spouse B Mortality Inputs -->
        <div *ngIf="this.advanced === true" class="form-inline">
          <label>Mortality table</label>
          <select [(ngModel)]="spouseBmortalityInput" name="spouseBmortalityInput" class="form-control">
            <option value="NS1">2017 CSO Nonsmoker Super-preferred</option>
            <option value="NS2">2017 CSO Nonsmoker Preferred</option>
            <option value="SSA">2015 Social Security Period Life Table</option>
            <option value="SM1">2017 CSO Smoker Preferred</option>
            <option value="SM2">2017 CSO Smoker Residual Standard</option>
            <option value="fixed">Assumed age at death</option>
          </select>
        </div>
          <span *ngIf="this.spouseBmortalityInput == 'fixed'">
            <label for="spouseBassumedDeathAge" class="customtooltip">Assumed age at death<span class="tooltiptext">whole numbers only, please</span></label>
            <input type="text" class="smallTextInput" [(ngModel)]="spouseBassumedDeathAge" id="spouseBassumedDeathAge" name="spouseBassumedDeathAge">
          </span>
        <!--End Spouse B Mortality Inputs -->

        <div *ngIf="this.advanced === true">
            <label for="spouseBgovernmentPension">Monthly government pension (from non-covered employment)</label>
            <input type="text" [(ngModel)]="spouseBgovernmentPension" id="spouseBgovernmentPension" name="spouseBgovernmentPension">
        </div>
      </span>
        <div *ngIf="this.advanced === true">
          <h2>Other Inputs</h2>
          <label>Real discount rate</label>
          <input type="text" [(ngModel)]="discountRate" name="discountRate" class="smallTextInput" required>%
          <p class="inputexplanation">A "discount rate" is necessary to reflect the fact that a dollar today is worth more than a dollar in the future, because a dollar today can be invested.
            The <a href="https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=realyield" target="_blank">yield on 20-year TIPS</a> is generally considered an appropriate discount rate for these purposes.
            See <a href="https://obliviousinvestor.com/claiming-social-security-early-to-invest-it-what-rate-of-return-discount-rate-should-we-assume/" target="_blank">this article</a> for a discussion of that topic.</p>
        </div>
      <div>
        <button type="submit" id="maximizeSubmit" class="btn btn-primary" (mousedown)="waitCursor()">Submit</button>
      </div>
      <div class="statusMessage" *ngIf="this.statusMessage">{{this.statusMessage}}</div>
      <p *ngIf="!this.solutionSet.solutionPV && maritalStatus == 'married'">If you are married, your computer will have to do quite a lot of math. Depending on your browser and your computer's processor speed, this calculation may take up to a minute. Please be patient with your computer.</p>
      <p *ngIf="!this.solutionSet.solutionPV && maritalStatus == 'married'">For reference, this calculator runs <em>many-times faster</em> in Chrome or Firefox than it does in Safari, Edge, or Internet Explorer.</p>
    </span>
</form>
<span *ngIf="this.solutionSet.solutionPV">

   <!--Recommended Strategy Output-->
  <p>The strategy that maximizes the total dollars you can be expected to spend over your lifetime<span *ngIf="maritalStatus == 'married'">s</span> is as follows:</p>
  <ul>
    <li *ngFor="let claimingSolution of this.solutionSet.solutionsArray">{{claimingSolution.message}}<span *ngIf="this.spouseAworking === true || this.spouseBworking === true">*</span></li>
  </ul>
  <span  *ngIf="this.solutionSet.solutionPV">
    <p><strong>The present value of this proposed solution would be {{this.solutionSet.solutionPV.toLocaleString('en-US', {style: 'currency', currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}}</strong>.</p>
    <p> This means that with this strategy you could expect to receive, on average, {{this.solutionSet.solutionPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}} of total Social Security benefits over the course of your lifetime, after adjusting for the fact that a dollar received in the future is worth less than a dollar received today (because the sooner you receive a dollar the sooner you can invest it).
      <a href="https://obliviousinvestor.com/what-does-present-value-mean/" target="_blank">See this article</a> for a more thorough explanation of the "present value" concept.</p>
  </span>
  <p *ngIf="this.spouseAworking === true || this.spouseBworking === true">
    *Please note that while the calculator does account for the earnings test (i.e., benefit adjustments for people who file and who are still working prior to full retirement age), 
    the monthly benefit amounts quoted here do not reflect such adjustments.
  </p>
  <hr>

  <!--Custom Date(s) Form -->
  <form #customDateForm="ngForm" (ngSubmit)="customDates()">
  <h2>Test an alternative claiming strategy:</h2>
        <div class="form-inline" *ngIf="spouseAhasFiled === false">
            <label>Your month/year to claim retirement benefit:</label>
            <select class="form-control" [(ngModel)]="customSpouseAretirementBenefitMonth" name="customSpouseAretirementBenefitMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="customSpouseAretirementBenefitYear" name="customSpouseAretirementBenefitYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="this.customSpouseAretirementDateError" class="alert alert-danger">{{this.customSpouseAretirementDateError}}</span>
        </div>
    <span *ngIf="maritalStatus == 'married' || maritalStatus == 'divorced'">
        <div class="form-inline" *ngIf="(this.spouseAPIA < 0.5 * this.spouseBPIA || this.spouseAactualBirthDate < this.deemedFilingCutoff) && this.spouseAdeclineSpousal === false">
          <label>Your month/year to claim spousal benefit:</label>
          <select class="form-control" [(ngModel)]="customSpouseAspousalBenefitMonth" name="customSpouseAspousalBenefitMonth" required>
            <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
          </select>
          <select class="form-control" [(ngModel)]="customSpouseAspousalBenefitYear" name="customSpouseAspousalBenefitYear" required>
            <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
          </select>
          <span *ngIf="this.customSpouseAspousalDateError" class="alert alert-danger">{{this.customSpouseAspousalDateError}}</span>
        </div>
        <span *ngIf="this.spouseAPIA > 0.5 * this.spouseBPIA && this.spouseAactualBirthDate < this.deemedFilingCutoff">
          <label>Check this box to test a scenario in which you do not file for a spousal benefit:</label>
          <input id="spouseAdeclineSpousal" [(ngModel)]="spouseAdeclineSpousal" name="spouseAdeclineSpousal" value="true" type="checkbox">
        </span>
        <div *ngIf="maritalStatus == 'married' && spouseBhasFiled === false" class="form-inline">
            <label>Your spouse's month/year to claim retirement benefit:</label>
            <select class="form-control" [(ngModel)]="customSpouseBretirementBenefitMonth" name="customSpouseBretirementBenefitMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="customSpouseBretirementBenefitYear" name="customSpouseBretirementBenefitYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            <span *ngIf="this.customSpouseBretirementDateError" class="alert alert-danger">{{this.customSpouseBretirementDateError}}</span>
          </div>
          <div class="form-inline" *ngIf="(this.spouseBPIA < 0.5 * this.spouseAPIA || this.spouseBactualBirthDate < this.deemedFilingCutoff) && this.spouseBdeclineSpousal === false">
            <span *ngIf="maritalStatus == 'married'">
            <label>Your spouse's month/year to claim spousal benefit:</label>
            <select class="form-control" [(ngModel)]="customSpouseBspousalBenefitMonth" name="customSpouseBspousalBenefitMonth" required>
              <option *ngFor="let month of inputMonths" [value]="month">{{month}}</option>
            </select>
            <select class="form-control" [(ngModel)]="customSpouseBspousalBenefitYear" name="customSpouseBspousalBenefitYear" required>
              <option *ngFor="let year of inputBenefitYears" [value]="year">{{year}}</option>
            </select>
            </span>
            <span *ngIf="this.customSpouseBspousalDateError" class="alert alert-danger">{{this.customSpouseBspousalDateError}}</span>
          </div>
          <span *ngIf="maritalStatus == 'married' && this.spouseBPIA > 0.5 * this.spouseAPIA && this.spouseBactualBirthDate < this.deemedFilingCutoff">
            <label>Check this box to test a scenario in which your spouse does not file for a spousal benefit:</label>
            <input id="spouseBdeclineSpousal" [(ngModel)]="spouseBdeclineSpousal" name="spouseBdeclineSpousal" value="true" type="checkbox">
          </span>
      </span>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <span *ngIf="this.customPV">
      The present value of the strategy you selected is {{this.customPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}}, as compared to a present value of {{this.solutionSet.solutionPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}} from the recommended strategy, a difference of {{this.differenceInPV.toLocaleString('en-US', {style: 'currency',currency: 'USD', minimumFractionDigits:0, maximumFractionDigits:0})}}.
    </span>
  </form>
   <!--End Custom Date(s) Form -->

  <hr>
  <!--Book Promo -->
  <h2>Want to Learn More about Social Security? Pick Up a Copy of My Book:</h2>
      <div class="row">
          <p><em><strong>Social Security Made Simple: Social Security Retirement Benefits and Related Planning Topics Explained in 100 Pages or Less</strong></em></p>
          <ul>
            <li><a href="http://www.amazon.com/dp/0997946512/?tag=openss-20" target="_blank">See it on Amazon</a>.</li>
          </ul>
          <a href="http://www.amazon.com/dp/0997946512/?tag=openss-20" target="_blank"><img title="Book8FrontCovertilted150x200" class="bookimg" src="https://obliviousinvestor.com/wp-content/uploads/2018/05/NewBook8Covertiltedscaled.jpg" width="150" alt="Social Security cover"/></a>
          <strong>Topics Covered in the Book:</strong>
              <ul>
                <li>How retirement benefits, spousal benefits, and widow(er) benefits are calculated,</li>
                <li>How to decide the best age to claim your benefit,</li>
                <li>How Social Security benefits are taxed and how that affects tax planning,</li>
                <li><a href="http://www.amazon.com/dp/0997946512/?tag=openss-20" target="_blank">Click here to see the full list</a>.</li>
              </ul>
      </div>
      <div class="row">
          <p><strong>A Testimonial from a Reader on Amazon:</strong></p>
          "An excellent review of various facts and decision-making components associated with the Social Security benefits. The book provides a lot of very useful information within small space."
          <ul>
            <li><a href="http://www.amazon.com/product-reviews/0997946512/?tag=openss-20" target="_blank">Read other reviews on Amazon</a></li>
          </ul>
      </div>
    <!--End Book Promo -->
</span>
</div>
