<h1>Can You Receive Social Security Spousal Benefits AND Retirement Benefits at the Same Time?</h1>

<p>
  A reader writes in, asking:
</p>

<blockquote>
  "When I used the open social security calculator, the result showed my wife receiving both a retirement benefit and a spousal benefit. 
  I thought it could only be one or the other?"
</blockquote>

<p>
  That's a common misunderstanding. In reality, you <em>can</em> get spousal and retirement benefits at the same time -- and it's super common. 
  In fact, it's more common for a person to receive both than it is for a person to receive spousal benefits alone.
</p>

<p>
  In short, once a person begins receiving their own retirement benefit, they will continue to receive that retirement benefit for the rest of their life, 
  <em>even after their benefit as a spouse begins</em>.* And their spousal benefit -- originally calculated as half of the other spouse's primary insurance amount -- 
  will be reduced by the greater of their own PIA or their own retirement benefit. 
  (<a href="https://opensocialsecurity.com/articles/spousal-benefit-calculation/">See this article for more details of how a spousal benefit is calculated</a>.)
</p>

<p>
  The relevant material on the SSA's site can be found <a href="https://secure.ssa.gov/poms.nsf/lnx/0300615020" target="_blank" rel="noopener noreferrer">here</a>.
</p>

<p>
  *There are some exceptions. For instance, a person's retirement benefit will stop temporarily if they choose to suspend it. 
  Alternatively, the earnings test could result in their retirement benefit being withheld if they are working while younger than full retirement age.
</p>
<app-book-promo></app-book-promo>