
<div class="table-responsive">
  <table class="table-bordered table-striped">
      <tr class="highlighted">
        <th>Year</th>
        <th>Your Annual Retirement Benefit</th>
        <th *ngIf=" scenario.maritalStatus == 'married' || scenario.maritalStatus == 'divorced' ">Your Annual Spousal Benefit</th>
        <th *ngIf=" scenario.maritalStatus == 'married' || scenario.maritalStatus == 'divorced' ">Your Annual Survivor Benefit</th>
        <th *ngIf="scenario.maritalStatus == 'married'">Your Spouse's Annual Retirement Benefit</th>
        <th *ngIf="scenario.maritalStatus == 'married'">Your Spouse's Annual Spousal Benefit</th>
        <th *ngIf="scenario.maritalStatus == 'married'">Your Spouse's Annual Survivor Benefit</th>
        <th *ngIf="scenario.maritalStatus == 'married' || scenario.maritalStatus == 'divorced' ">Total</th>
      </tr>
      <tr *ngFor="let row of scenario.outputTable">
          <td *ngFor="let data of row">
            {{data}}
          </td>
      </tr>
  </table>
  <p *ngIf="scenario.maritalStatus == 'married' || scenario.maritalStatus == 'divorced'">
    *The survivor benefit amounts in this row assume that
    a) the deceased person lived at least until the age at which they planned to file for their retirement benefit and that
    b) the surviving person waits at least until their full retirement age to file for a survivor benefit.
  </p>
</div>