
<div class="table-responsive">
  <table class="table-bordered table-striped">
      <tr class="highlighted">
        <th>Year</th>
        <th>Your Annual Retirement Benefit</th>
        <th *ngIf=" scenario.maritalStatus == 'married' || scenario.maritalStatus == 'divorced' ">Your Annual Spousal Benefit</th>
        <th *ngIf=" scenario.maritalStatus == 'married' || scenario.maritalStatus == 'divorced' ">Your Annual Survivor Benefit</th>
        <th *ngIf="scenario.maritalStatus == 'married'">Your Spouse's Annual Retirement Benefit</th>
        <th *ngIf="scenario.maritalStatus == 'married'">Your Spouse's Annual Spousal Benefit</th>
        <th *ngIf="scenario.maritalStatus == 'married'">Your Spouse's Annual Survivor Benefit</th>
        <th *ngIf="scenario.maritalStatus == 'married' || scenario.maritalStatus == 'divorced' ">Total</th>
      </tr>
      <tr *ngFor="let row of scenario.outputTable">
          <td *ngFor="let data of row">
            {{data}}
          </td>
      </tr>
  </table>
  <span *ngIf="scenario.maritalStatus == 'single'">
      <p>
        The year-by-year benefit amounts in this table assume that you are still alive throughout the year in question.
      </p>
    </span>
  <span *ngIf="scenario.maritalStatus == 'married' || scenario.maritalStatus == 'divorced'">
    <p>
      The year-by-year benefit amounts in this table assume that both people are still alive throughout the year in question.
    </p>
    <p>
      The survivor benefit amounts in the table assume that
      a) the deceased person lived at least until the age at which they planned to file for their retirement benefit and that
      b) the surviving person waits at least until their full retirement age to file for a survivor benefit.
    </p>
  </span>
</div>